{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block maincontent %}
<h2 style="color:white">About</h2>
<hr />
<div class="form-horizontal">
	<p class="text-white">This project aims to provide a web-based elecricity market data </br>
		management platform, which will allow users to download,</br> analyze and visualize open datasets 
		from the <a style="color:#141f1f" href="https://www.entsoe.eu/" target="_blank"><b>ENTSO-E</b></a></br> Transparency Platform via RESTful Web APIs.</p>
	<div class="form-group" style="margin:0 0 0 0">
		<p style="color:white"><strong>Developed By:</br></strong>&nbsp;Barmperis Alexandros&nbsp;(<a style="color:#141f1f" href="mailto:el15003@central.ntua.gr" target="_blank"><b>el15003@central.ntua.gr</b></a>)</p>
		<p style="color:white">&nbsp;Ntonas Andreas&nbsp;(<a style="color:#141f1f" href="mailto:el15624@central.ntua.gr" target="_blank"><b>el15624@central.ntua.gr</b></a>)</p>
		<p style="color:white">&nbsp;Panagiotaras Ilias&nbsp;(<a style="color:#141f1f" href="mailto:el15746@central.ntua.gr" target="_blank"><b>el15746@central.ntua.gr</b></a>)</p>
		<p style="color:white">&nbsp;Serafeidis Christos&nbsp;(<a style="color:#141f1f" href="mailto:el15053@central.ntua.gr" target="_blank"><b>el15053@central.ntua.gr</b></a>)</p>
	</div>
	<div class="row">
		<a class="ml-auto" href="https://github.com/ntua/TL19-11/" target="_blank"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="130" height=auto/></a>
   </div>
</div>
{% endblock %}